/* CSS Reset needs to be put here*/
Body{
  background-image: url('/img/amback.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-color: black;
}

.container{
	margin: 0 auto;
	width: 920px;
  background: white;
  border-radius: 20px;
}

.logo{
  margin: 20px;
}

.navarea{
  display: flex;
  align-items: center;
}

.navbutton{
  border: 1px solid grey;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 20px;
  
}

.SMIcon{
  width: 50px;
}
.SMI2con{
  width: 55px;
}
.bannerarea{
  display: flex;
  justify-content: center;
}
.banner{
  width: 600px;
  height: 300px;
}

h1{
  text-align: center;
}

.content p {
  line-height: 1.6;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  padding: var(--medium-space) 0;
}

.solutions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--medium-space);
}

.solutions img, .solutions .copy {
  padding: var(--medium-space) var(--large-space);
}

.solutions .copy.flip {
  align-self: center;
}